<!-- SPDX-FileCopyrightText: 2016 Adriaan de Groot <groot@kde.org>
     SPDX-License-Identifier: BSD-2-Clause
  -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SteamWorks Crank Demo</title>

    <link href="common/css/bootstrap.min.css" rel="stylesheet">
    <link href="common/css/crank.css" rel="stylesheet">

    <script src="common/js/vue.global.js"></script>

  </head>
  <body>
    <div class="atemplate" src="common/templates/top.html"></div>
    <div class="container" id="app">
      <div class="row">
        <div class="col-md-4">
          <h3 class="bg-primary">Crank Status</h3>
          {{ status_string }}
        </div>
        <div class="col-md-8">
          <h3 class="bg-info">Add User</h3>
          User: <input id="user-uid" placeholder="uid" v-model="single_user_uid"/><br/>
          Domain: <input id="user-domain" placeholder="Associated Domain" v-model="single_user_domain"/><br/>
          <a href="index.html"><span title="Cancel" class="glyphicon glyphicon-ban-circle"></span></a>&nbsp;
          <span title="Add this user" class="glyphicon glyphicon-plus" onClick="mountedApp.addaccount(document.getElementById('user-uid').value, document.getElementById('user-domain').value)"></span>
        </div>
      </div>
    </div>
    <script src="common/js/atemplate.js"></script>
    <script src="app/crank.js"></script>
    <script>
      const mountedApp = app.mount('#app');
    </script>
  </body>
</html>
