<!-- SPDX-FileCopyrightText: 2016 Adriaan de Groot <groot@kde.org>
     SPDX-License-Identifier: BSD-2-Clause
  -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SteamWorks Crank Demo</title>

    <link href="common/css/bootstrap.min.css" rel="stylesheet">
    <link href="common/css/crank.css" rel="stylesheet">

    <script src="common/js/vue.global.js"></script>

  </head>
  <body>
    <div class="atemplate" src="common/templates/top.html"></div>
    <div class="container" id="app">
      <div class="row">
        <div class="col-md-4">
          <h3 class="bg-primary">Crank Status</h3>
          {{ status_string }}
        </div>
        <div class="col-md-8">
          <h3 class="bg-info">Users</h3>
          <ul id="user-list">
            <li v-for="u in users" :key="u.dn">
              <b>{{ u.uid }}</b> - {{ u.associatedDomain }}<br/>
              <ul>
                <li v-for="a in u.accessControlList">
                  {{ a }} <span class="glyphicon glyphicon-trash" @click="dropacl(u,a)"></span>
                </li>
                <li>
                  <span title="Add ACL to this user" class="glyphicon glyphicon-plus" @click="addacl(u)"></span>
                </li>
              </ul>
            </li>
          </ul>
          <a href="adduser.html"><span title="Add another user" class="glyphicon glyphicon-user"></span></a>
        </div>
      </div>
    </div>
    <script src="app/crank.js"></script>
    <script src="common/js/atemplate.js"></script>
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
