/*
 * SPDX-FileCopyrightText: 2016 Adriaan de Groot <groot@kde.org>
 * SPDX-License-Identifier: BSD-2-Clause
 */

ul.item-list-tall li {
  margin-top: 0.5ex;
}

ul.item-list-flat {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

ul.item-list-flat li {
  margin-left: 0px;
  padding-left: 0px;
}

h3 {
  padding: 0.3ex 0.5em;
}
