<h3 class="bg-info">Trusted Issuer</h3>

<form ng-show="$ctrl.status" class="form-horizontal" id="issuerview">
  <div class="form-group">
    <label class="control-label col-sm-2" for="issuercn">Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" readonly id="email" placeholder="Common Name" ng-model="$ctrl.issuerdata.cn" />
    </div>
    </input>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Type:</label>
    <div class="col-sm-10 form-inline">
      <input type="radio" class="form-control" readonly ng-model="$ctrl.issuerdata.tlsPoolCredentialType" value="x509"/> x509
      <input type="radio" class="form-control" readonly ng-model="$ctrl.issuerdata.tlsPoolCredentialType" value="ssh"/> SSH
      <input type="radio" class="form-control" readonly ng-model="$ctrl.issuerdata.tlsPoolCredentialType" value="gpg"/> PGP / GPG
    </div>
    </input>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Role:</label>
    <div class="col-sm-10 form-inline">
      <input type="radio" class="form-control" readonly ng-model="$ctrl.issuerdata.tlsPoolSupportedRole" value="server"/> Server
      <input type="radio" class="form-control" readonly ng-model="$ctrl.issuerdata.tlsPoolSupportedRole" value="client"/> Client
      <input type="radio" class="form-control" readonly ng-model="$ctrl.issuerdata.tlsPoolSupportedRole" value="peer"/> Peer (both)
    </div>
    </input>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="validation">Validation:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" readonly id="validation" placeholder="Validation Expression" ng-model="$ctrl.issuerdata.tlsPoolValidationExpression" />
    </div>
    </input>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="anchor">Anchor:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" readonly id="anchor" placeholder="Trust Anchor" ng-model="$ctrl.issuerdata.tlsPoolTrustAnchor" />
    </div>
    </input>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="issuerdn">DN:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" readonly id="issuerdn" placeholder="DN" ng-model="$ctrl.issuerdn" />
    </div>
    </input>
  </div>
  <div class="form-group">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-10">
      <a href="#!/issuers" role="button" class="btn btn-info"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</a>
      <button class="btn btn-primary" ng-click="$ctrl.do_save()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
    </div>
  </div>
</form>

<p ng-hide="$ctrl.status">
  No Trusted Issuer selected.
</p>

