<!-- SPDX-FileCopyrightText: 2016 Adriaan de Groot <groot@kde.org>
     SPDX-License-Identifier: BSD-2-Clause
  -->
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3 class="bg-primary">SteamWorks Crank</h3>
          <p>
          This is the demonstration site for the
          SteamWorks Crank. The Crank is responsible
          for manipulating the source of configuration
          data. In this demonstration, we show
          how the IdentityHub User records may be modified.
          </p>
        </div>
        <div class="col-md-4">
          <h3 class="bg-info">Get It</h3>
          <p>
          The entire source code of SteamWorks,
          including the Crank and other components
          and this demonstration, can be obtained
          from the ARPA2 SteamWorks git repository
          on <a href="https://gitlab.com/arpa2">GitLab</a>.
          </p>
        </div>
        <div class="col-md-4">
          <h3 class="bg-info">About</h3>
          <p>
          SteamWorks Crank is a product of the ARPA2
          project. This is SteamWorks release 0.96.0.
          </p>
        </div>
      </div>
    </div>
    <div class="jumbotron">
      <div class="container">
        <h1>Demonstration</h1>
        <p>
        All the data shown in this demonstration, and all the users
        are fake, and not intended for production purposes. The Crank <b>does</b> actually store the
        data in an LDAP server, so please make sure that it is configured with a test-directory.
        </p>
      </div>
    </div>
